*{
  margin: 0;
  padding: 0;
}
body{
  background: #09a4d3;
}
.App {
  text-align: center;
}

.App-logo {
  height: 9vmin;
}

.App-header {
  background-color: #282c34;
  margin: auto;
  color: #09d3ac;
  height: 15vh;
  width: 100%;
}

.App-link {
  color: #09d3ac;
}

/*------------------------------------------------------------*/

form{
  border: 0px solid black;
  padding: 10px;
}
input{
  width: 300px;
  height: 25px;
  margin: 0;
  border-radius: 3px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgb(70, 70, 70);
}

textarea{
  width: 300px;
  height: 30px;
  border-radius: 4px;
  border: 0;
  border-bottom: 1px solid rgb(70, 70, 70);
  background: transparent;
}

textarea:focus,input:focus{
  outline: none;
}

.label{
  margin: auto;
  width: 200px;
  height: 40px;
  text-align: center;
  margin-bottom: -10px;
}

button{
  width: 100px;
  height: 35px;
  background: rgb(252, 169, 158);
  border: 0px;
  border-radius: 3px;
  color: rgb(34, 34, 34);
  font-size: calc(10px+10vmin)
}